
/* 
 * Document   : Layout for bonner nacht
 * Created on : 04.05.2013
 * Author     : Benjamin Geese
 * Description: Theme for Bonner Nacht / wasgehtengine
 */

/** 
 * Colors for desktop 
 */
body {
	background-color: #2e3436;
}

#content, body > #pageHeader, body > footer, #extras-section {
    color: #2e3436;
    background-color: #eeeeee;
} 

/** PAGE HEADER **/
header > p {
    color: #555753;
}

/** PAGE HEADER **/
body > footer  {
    color: #555753;
}

/**
 * LAYOUT
 */

body {
	font-size: 12pt;
/*	min-width: 460px;*/
	margin: 1em auto;
	padding: 1em;
    max-width: 60em;
}

#content, body > footer {
    margin: 0;
    padding: 1em;
}

/** PAGE HEADER **/
body > #pageHeader  {
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}

body > #pageHeader header {
    padding: .2em 1em;
}

body > footer  {
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

article > section {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#map {
	margin-top: 0.5em;
}

#extras-section {
	text-align: center;	
}

/*
 * Events List Layout
 */

ul.itemList {
    list-style: none;
    padding: 0;
}

ul.itemList li {
    padding: 0.5em 0;
}

ul#eventsList article header {
    /* TODO: Regulary check for vendor prefixes */
    break-inside: avoid-column; 
    -moz-break-inside: avoid-column;
}
ul#eventsList .event header h2 {
    margin-top: 0;
    margin-bottom: 0.2em;
}

ul#eventsList .event .event-description {
	margin-top: 0.5em;
}

/*
 * Venues List Layout
 */

#venueList ul {
	-webkit-column-width: 240px;
	-moz-column-width: 240px;
}

/*
 * Blog layout
 */ 
.blogitem_title {
	margin-bottom: 0.2em;
}

#pageHeader {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

#pageHeader > header {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 10em;
    -ms-flex: 0 1 10em;
    flex: 0 1 10em;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

#pageHeader > nav {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    -webkit-flex: 2 1 auto;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

/*
    Legacy Firefox implementation treats all flex containers
    as inline-block elements.
*/

@-moz-document url-prefix() {
#pageHeader {
    width: 100%;
    -moz-box-sizing: border-box;
    }

}

/** MAIN FLEXBOX*/
#main {
    display: flex;
    display: -webkit-flex;
    display: -webkit-box-flex;
    display: -ms-flexbox;
    
    flex-flow: row;
    -webkit-flew-flow: row;
    -webkit-flex-flow
    -ms-flex-flow: row;
    
    align-items: top;
    -webkit-align-items: top;
    -webkit-box-align: top;
    -ms-align-items: top;   
}

#main #content {
	order: 1;
    -webkit-order: 1;
    -ms-flex-order: 1;
    
    flex: 3 1 80%;
    -webkit-flex: 3 1 80%;
    -ms-flex: 3 1 80%;
}

#main #edit-bar {
	order: 2;
    -webkit-order: 2;
    
    flex: 1 3 20%;
    -webkit-flex: 1 3 20%;
    -ms-flex: 1 3 20%;
}

/**
 * MENU *
 **/
#pageHeader nav li a {
    color: black;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.4em;
    border-top: 4px solid rgb(81, 115, 224);
    margin: 0;
    width: 150px;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 2.2em;
}
#pageHeader nav li. a {
    border-top: 4px solid rgb(81, 115, 224);
}
#pageHeader nav li a:hover, #pageHeader nav li.selected a {
    border-top: 4px solid rgb(81, 115, 224);
    background: rgb(81, 115, 224);
    color: #eee;
}
#pageHeader nav li:first-child a {
    border-bottom-left-radius: 4px;
}
#pageHeader nav li:last-child a {
    border-bottom-right-radius: 4px;
}

/**
 * AUTHENTICATED USERS
 * Authenticated users see a menu, we therefore enlarge the max-width
 **/
body.userrole-authenticated {
    max-width: 60em;
}

#edit-bar {
     padding: 0.5em;
     background: #8ae234;
     border-top: 4px solid #4e9a06;
}
    
#actionsSection {
     background: #fcaf3e;
     border-top: 4px solid #f57900;   
}
    
#background-credits {
		display: none;
}

@media (orientation:landscape) and (min-width: 1280px){
    body {
        background: #0c0c0c url("../img/backgrounds/background.jpg") top center fixed no-repeat;
        background-size: 100%;
    }
    
    #background-credits {
		display: block;
	}
}

.hiddenStructure {
	display: none;
}

#venue-events ul {
	display: table;
	padding-left: 5px;
}

#venue-events ul li {
	display: table-row;
	height: 2em;
}

#venue-events ul li time{
	display: table-cell;
	text-align: right;	
}

#venue-events ul li a {
	display: table-cell;
	padding-left: 10px;
}

.event-auto-imported {
	background: url("../img/emblem-system.png") no-repeat center center;
	background-size: auto, auto;
	width: 0.75em;
	height: 0.75em;
	display: inline-block;
}

.event-auto-imported span {
	display: none;
}

h1.event-title {
	margin-bottom: 0.2em;
}

.note-status-private {
	background-color: #FF9900;
}

#event-period + #creator {
	margin-top: 1em;
}

/**
 * Screenings
 **/

#movieList h2 {
	margin-top: 0;
	margin-bottom: 0;
	clear: both;
}

.movie {
	margin-bottom: 10px;
}

.screeningList {
	list-style-type: none;
	padding-left: 0;
}

.screeningList > li {
	float: left;
	margin: 0.3em 0.3em;
	border: 1px solid #d0d0d0;
	border-radius: 5px;
	padding: 0.1em 0.5em !important;
    white-space:nowrap;
}

.screeningList .venueList {
	list-style-type: none;
	padding-left: 0;
}

.venueList li {
	padding: 0 !important;
}

.clear {
	clear: both;
}

.movie-trailer {
	margin: 1em 0;
}