/* Document   : Font style for bonner nacht
 * Created on : 04.05.2013
 * Author     : Benjamin Geese
 * Description: Theme for Bonner Nacht  wasgehtengine
 */
 
/*
* Park Avenue
* LICENSE:  Freely Distributable.
* Source: ftp://ftp.gimp.org/pub/gimp/fonts/freefonts-0.10.tar.gz
*/
@font-face {
	font-family: 'ParkAvenue';
	font-style: regular;
	font-weight: 400;
	src: local("ParkAvenue"), url("../otf/ParkAvenue/ParkAvenue.ttf") format("truetype"); 
}

@font-face {
	font-family: 'Merriweather';
	font-style: regular;
	font-weight: 300;
	src: local("Merriweather"), url("../otf/Merriweather/Merriweather-Light.ttf") format("truetype"); 
}

@font-face {
	font-family: 'Merriweather';
	font-style: regular;
	font-weight: 500;
	src: local("Merriweather"), url("../otf/Merriweather/Merriweather-Bold.ttf") format("truetype"); 
}

@font-face {
	font-family: 'Merriweather Sans';
	font-style: regular;
	font-weight: 400;
	src: local("Merriweather Sans"), url("../otf/Merriweather_Sans/MerriweatherSans-Regular.ttf") format("truetype"); 
}

@font-face {
	font-family: 'Merriweather Sans';
	font-style: regular;
	font-weight: 300;
	src: local("Merriweather Sans"), url("../otf/Merriweather_Sans/MerriweatherSans-Light.ttf") format("truetype"); 
}
		
#pageHeader header {
	font-family: 'ParkAvenue'!important;
	font-style: regular;
	font-weight: 400!important;
	white-space: nowrap;
}

#globalNavigationList {
	font-weight: 300;
}

.date-nav h2 {
	font-family: 'Merriweather Sans', sans-serif;	
	font-weight: 500;
}

.event-description {
	font-family: 'Merriweather Sans', sans-serif;
}
		
#pageHeader header h1 {
	font-weight: 400;
}

h1, h2 {
	font-weight: 300 !important;
}


#pageHeader header h1 {
    font-size: 2em;
    padding-right: 0.2em;
    margin: 0;'
}

#pageHeader header p {
    font-size: 1.4em;
    display: inline;    
}

ul#eventsList .event header h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul#eventsList .event header p {
    font-size: 1em;
}

.past-screening {
	//text-decoration: line-through
	filter: alpha(opacity=50);
	opacity: 0.5;
}

#eventsList header * {
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300 !important;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;    
}

body > footer p, body > footer ul {
    font-size: 0.8em;
    text-align: center;
}

/* The following requires css_browser_selector */
.ubuntu body {
    font-family: 'Ubuntu';
    font-weight: 100;
}

.ubuntu h2, .ubuntu h1 {
    font-weight: 500;
}

.mac body {
    font-family: 'Lucida Grande';
}

.firefoxos body {
    font-family: 'Feura Sans';
}

.android body {
    font-family: 'Roboto Slab';
    font-weight: 300;
}
/**
 * LIST Nav
 */
.date-nav h2, .date-nav a {
	font-size: 1.2em;
	font-weight: normal;
}

/**
 * ARTICLE
 **/
 article p {
    line-height: 1.4;
 }
