/* 
 * Document   : Menu for bonner nacht
 * Created on : 2013-05-07
 * Author     : Benjamin Geese, Fabian Köster
 * Description: Theme for Bonner Nacht / wasgehtengine
 */
@media only screen {
nav a, nav a:hover {
    text-decoration: none;    
}

#pageHeader nav {
    font-weight: 500!important;
}

nav ul, #actionsSection ul, #edit-bar ul, footer ul {
    list-style: none;
    padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.actionMenuContent > ul {
	list-style: disc !important;
}

nav ul li, footer ul li {
    display: inline;
}

footer ul li {
    padding: 0 1em;
}
nav li a {
    display: inline-block;
}

.date-nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    }

.date-nav > *:nth-child(1) {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.date-nav > *:nth-child(2) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.date-nav > *:nth-child(3) {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

/*
    Legacy Firefox implementation treats all flex containers
    as inline-block elements.
*/

@-moz-document url-prefix() {
.date-nav {
    width: 100%;
    -moz-box-sizing: border-box;
    }

}

.date-nav h2 {
    text-align: center;
    margin: .5em 0;
    padding: .2em;
}
.date-nav a, .date-nav a:visited {
    margin: .5em 0;
    padding: .2em;
}

.date-nav a, .date-nav header a:visited {
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: #eee;
}

.date-nav a:hover,
.date-nav a#time-next:hover,
.date-nav a#time-previous:hover {
    text-decoration: none;
    background-color: rgb(111, 145, 254);
}

.date-nav a#time-previous {
	background: url("../img/assets/arw_left.svg") no-repeat center right, url("../img/assets/arw_left_inv.svg") no-repeat center left rgb(81, 115, 224);
	background-size: auto, auto;
	padding-left: 40px;
	padding-right: 40px;
}
.date-nav a#time-next {
    text-align: right;
	background: url("../img/assets/arw_right.svg") no-repeat center left, url("../img/assets/arw_right_inv.svg") no-repeat center right rgb(81, 115, 224);
	padding-right: 40px;
    padding-left: 40px;
}
#venuefolder-section nav li {
} 
#venuefolder-section nav li a {
	background: rgb(81, 115, 224);
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: #eee;
    padding: .6em;
    margin: .5em;
}
