#siteTitle {
	text-align: center;
}

body {
 margin: 0;
 padding: 0;
}

#pageHeader {
	display: block;
}

#pageHeader header {
	display: block;
}

#pageHeader nav {
	
	display: block;
	text-align: center;
}

#pageHeader nav li a {
	border-top: 0;
}

#pageHeader nav li a {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.date-nav a#time-previous, .date-nav a#time-next {
	padding-left: 20px;
	padding-right: 20px;
	min-width: 65px;
	max-height: 25px;
}