table, td, th
{
border:1px solid green;
}
th
{
background-color:green;
color:white;
}
td
{
padding:0 15px 0 15px;
}


.status-error {

	background-color: #E88D8D;
}

.status-warning {
	background-color: #FF9900;
}